<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albumkt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_album"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity android:name=".ui.PreviewActivity"></activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.albumkt.fileprovider"
            android:name=".ui.AppFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />

        </provider>

    </application>

</manifest>