<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albumkt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AlbumApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_album"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LanguageSelectActivity"/>
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.BarcodeGenActivity" />
        <activity android:name=".ui.activity.CommonActivity" />
        <activity android:name=".ui.activity.VideoPlayActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <!--
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
        -->
        <activity android:name=".ui.activity.PreviewActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ui.AppFileProvider"
            android:authorities="com.example.albumkt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- barcode start -->
        <activity android:name="com.google.firebase.samples.apps.mlkit.EntryChoiceActivity" />
        <activity android:name="com.google.firebase.samples.apps.mlkit.java.ChooserActivity" />
        <activity android:name="com.google.firebase.samples.apps.mlkit.kotlin.ChooserActivity" />
    </application>

</manifest>